#board_wrapper {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    touch-action: manipulation; /* Allow scroll/swipe gestures */
  }
  

#primary_canvas, #drawing_canvas{
    position: absolute; 
    top: 0px; 
    left: 0px;
}

/* #board {
    z-index: -1;
} */

#primary_canvas, #drawing_canvas {
    opacity: 0.8;
    padding: 2px;
}

  